# This file is used to automatically add reviewers when pull requests are created
# These people will be added as reviewers for all pull requests ('*' wildcard covers all repository files):
* @yevgenykuz
